
<div class="tab-common">
    <section>
        <ul class="tab-commonlist">
            <li class="is-active" data-id="tab1">Chào bán nổi bật</li>
            <li data-id="tab2">Chào mua nổi bật</li>
        </ul>
    </section>
</div>
