
.profile {
    margin: 40px 0 60px;
}

.sidebar, .content {
    float: left;
}
.sidebar {
    width: 23.75%;
}
.content {
    padding-left: 20px;
    width: 76.25%;
}
.content h2 {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}
.content-wrap {
    background: #FFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 20px;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar li a {
    border-radius: 8px;
    color: #444;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 10px;
    transition: .3s;
}
.sidebar li.current a {
    background-color: #F8F8F8;
    color: #1C67D8;
    font-weight: bold;
}
.sidebar li a:hover {
    background-color: #F8F8F8;
    color: #1C67D8;
}
.sidebar li span {
    background-color: #D92525;
    border-radius: 50%;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.profile .form-info {
    margin: 0 auto 15px;
    width: 660px;
}
.profile .form-info .btn-register {
    margin-top: 40px;
}
.profile .form-info .form-item {
    margin-bottom: 40px;
}

.change-password {
    margin: 0 auto;
    padding: 50px 0 120px;
    width: 275px;
}
.change-password .btn-register {
    margin-top: 20px;
}
.change-password input {
    background: #F7F7F7;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    color: #444;
    height: 46px;
    line-height: 21px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
.change-password input::placeholder {
    color: #444;
    line-height: 21px;
}

/*ket noi cua toi*/
.tab-content{
    display: none;
}
.tab-content.current{
    display: inherit;
}

.tab-connect{
    display: block;
    overflow: hidden;
    text-align: center;
}
.tab-connect a{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #1C67D8;
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #1C67D8;
    border-radius: 50px;
    margin: 0 10px 0 0;
}
.tab-connect a:last-child{
    margin-right: 0;
}
.tab-connect a.current{
    background: #1C67D8;
    color: #fff;
    font-weight: 700;
}
.tab-content .state{
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
}
.state li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px 0 0;
    cursor: pointer;
}
.state li:last-child{
    padding-right: 0;
}
.state li span{
    display: block;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}
.state li input{
    border: 1px solid #AAA;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.state li label{
    display: inline-block;
    vertical-align: middle;
    color: #444;
    font-size: 14px;
    line-height: 21px;
    position: unset;
    cursor: pointer;
    pointer-events: unset;
}

.table-connect{
    width: 100%;
    border-collapse: collapse;
}
.table-connect tr{
    padding: 0 10px;
}
.table-connect tr:nth-child(even){
    background: #F9F9F9;
}
.table-connect tr th{
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    font-weight: 700;
}
.table-connect tr th span{
    display: block;
    margin-bottom: 10px;
}
.table-connect tr td{
    padding-right: 20px;
}
.table-connect tr td:last-child{
    padding-right: 0;
}
.table-connect tr td span{
    color: #333;
    padding: 10px 0;
    display: block;
}
.table-connect tr td:nth-child(4) span,
.table-connect tr td:nth-child(5) span{
    text-align: center;
}
.table-connect tr td a{
    color: #1C67D8;
    display: block;
    max-width: 200px;
}
.table-connect tr td .color-agree{
    color: #1C8E0F;
}
.table-connect tr td .color-refuse{
    color: #D46600;
}

.seemore-another{
    display: block;
    overflow: hidden;
    margin: 20px auto 40px;
    padding: 14px 0;
    border: 1px solid #E5E5E5;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    border-radius: 8px;
    width: 220px;
    text-align: center;
}
.seemore-another:after{
    content: '';
    width: 6px;
    height: 6px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 6px;
    transform: rotate(45deg);
}

.popup-connect{
    display: none;
}
.popup-connect.active{
    display: block;
}
.bg-connect{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #000;
    opacity: 0.7;
}
.detail-connect{
    position: fixed;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 600px;
    top: 20%;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.close-popup{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.close-popup:after,.close-popup:before{
    content: '';
    width: 18px;
    height: 2px;
    top: 8px;
    background: #444;
    position: absolute;
    transform: rotate(45deg);
}
.close-popup:before{
    transform: rotate(-45deg);
}
.info-item{
    display: block;
    overflow: hidden;
}
.info-item .img-item{
    float: left;
    max-width: 161px;
    margin-right: 10px;
}
.info-item .img-item img{
    display: block;
    width: 100%;
}
.info-item .text-item{
    display: block;
    overflow: hidden;
}
.info-item .text-item h3{
    display: block;
    overflow: hidden;
    font-weight: 700;
    color: #333;
    font-size: 20px;
    line-height: 26px;
}
.info-item .text-item small{
    display: block;
    overflow: hidden;
    padding: 8px 0;
    font-size: 14px;
    line-height: 16px;
}
.info-item .text-item span{
    display: block;
    overflow: hidden;
    color: #FF7A00;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.box-info{
    display: block;
    margin-top: 44px;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 0 30px 30px;
}
.box-info span{
    display: block;
    overflow: hidden;
    border: 1px solid #fff;
    background: #fff;
    padding: 6px;
    border-radius: 8px;
    margin-top: -16px;
    max-width: 210px;
}
.box-info strong{
    display: block;
    overflow: hidden;
    margin-top: 26px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
.box-info p{
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 10px 0 0;
}
.btn-connect{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}
.btn-connect a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #aaa;
    background: #1C67D8;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 12px;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-connect a.refuse{
    background: #444;
}
.content h2 a{
    float: right;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 0 0;
    color: #1C67D8;
}
.up-product{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 0 0 23px;
}
.up-product .click-find{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
    width: 100%;
    max-width: 480px;
}
.up-product .click-find input{
    display: block;
    overflow: hidden;
    border-radius: 8px;
    background: #F8F8F8;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 16px 13px;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    box-sizing: border-box;
}
.up-product .click-find i{
    position: absolute;
    right: 12px;
    top: 16px;
}
.up-product  a{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #aaa;
    background: #1C67D8;
    text-align: center;
    padding: 14px 12px;
    border-radius: 8px;
    text-transform: uppercase;
}

/*san pham chao mua*/

.table-buyandsell{
    width: 100%;
    border-collapse: collapse;
}
.table-buyandsell tr{
    padding: 0 10px;
}
.table-buyandsell tr:nth-child(even){
    background: #F9F9F9;
}
.table-buyandsell tr th{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    font-weight: 700;
}
.table-buyandsell tr th span{
    display: block;
    margin-bottom: 10px;
}
.table-buyandsell tr td:last-child{
    padding-right: 0;
}
.table-buyandsell tr td{
    color: #333;
}
.table-buyandsell tr td .img-product{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    margin-right: 5px;
}
.table-buyandsell tr td:nth-child(3),
.table-buyandsell tr td:nth-child(4),
.table-buyandsell tr td:nth-child(5){
    text-align: center;
}
.table-buyandsell tr td a{
    color: #1C67D8;
    display: inline-block;
    vertical-align: middle;
}
.table-buyandsell tr td .click-del{
    color: #D92525;
}

.popup-delsp{
    display: none;
}
.popup-delsp.active{
    display: block;
}
.box-delsp{
    position: fixed;
    top: 20%;
    background: #fff;
    border-radius: 8px;
    width: 450px;
    left: 0;
    right: 0;
    margin: auto;
}
.box-delsp strong{
    display: block;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 21px;
    color: #444;
}
.box-delsp p{
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 16px 0 30px;
    font-size: 16px;
    line-height: 24px;
}
.box-delsp .btn-delsp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.box-delsp .btn-delsp a{
    display: inline-block;
    vertical-align: middle;
    background: #AAAAAA;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 12px;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
}
.box-delsp .btn-delsp .btn-del{
    background: #1C67D8;
    margin-left: 4px;
}


