@{
    ViewData["Title"] = "Đổi mật khẩu";
    var rnd = new Random().Next();
}

@section metaHeader
{
    @if (Model != null)
    {
        var modelSEO = new ketnoicungcau.business.ModelWeb.HeaderSEO()
        {
            Title = "Đổi mật khẩu - Kết nối cung cầu - Kết nối cung cầu",
            Description = ""
        };
        <partial name="~/Views/Common/Partial/_MetaInfo.cshtml" model="@modelSEO" />
    }
}

@section Css {
    <link rel="stylesheet" type="text/css" href="~/Contents/css/bundle/profile.min.css?v=@rnd">
}


<section>
    <div class="profile clearfix">
        @await Html.PartialAsync("~/Views/Profile/Partial/_LeftNavigation.cshtml", "doi-mat-khau")
        <div class="content">
            <h2>Thay đổi mật khẩu</h2>
            <div class="content-wrap">
                <form action="/" class="change-password" id="frmChangePassword">
                    @Html.AntiForgeryToken()
                    <input type="password" name="OldPassword" id="pass-current" placeholder="Mật khẩu hiện tại của bạn" oninput="MaxLength(this)" maxlength="20">
                    <input type="password" name="NewPassword" id="pass-new" placeholder="Mật khẩu mới" oninput="MaxLength(this)" maxlength="20">
                    <input type="password" name="ConfirmNewPassword" id="pass-renew" placeholder="Nhập lại mật khẩu mới" oninput="MaxLength(this)" maxlength="20">
                    <div class="error-general" style="display: none"></div>
                    <button type="submit" class="btn-register">THAY ĐỔI MẬT KHẨU</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Contents/js/bundle/changepassword.min.js?v=@rnd"></script>
    @*<script src="~/Contents/js/Profile/changepassword.dev.js?v=@rnd"></script>*@
}