.filter-company .quicklink {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

    .filter-company .quicklink a.active {
        background-color: #1C67D8;
        color: #FFF;
    }

.filter-company .number-show {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 35px;
}

.detail {
    margin: 0 auto;
    padding: 115px 0 20px;
    width: 800px;
}

.detail-top {
    padding-bottom: 25px;
}

    .detail-top .img, .detail-top .info {
        float: left;
    }

    .detail-top .img {
        width: 52.5%;
    }

        .detail-top .img img {
            display: block;
            max-width: 100%;
            width: 100%;
            max-height: 420px;
            object-fit: cover;
        }

    .detail-top .info {
        padding-left: 20px;
        width: 47.5%;
    }

        .detail-top .info h2 {
            color: #000;
            font-size: 20px;
            font-weight: bold;
            line-height: 23px;
            padding-bottom: 8px;
        }

    .detail-top .text-company {
        color: #333;
        font-size: 20px;
        line-height: 26px;
        /*margin-top: 8px;*/  
        display: inline;
    }
    .detail-top .icon-authen {
        margin: 0 0 7px 2px;
    }

    .detail-top .info-cpn {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
    }

        .detail-top .info-cpn .txt {
            color: #000;
            font-size: 14px;
            line-height: 16px;
            margin-top: 10px;
        }

            .detail-top .info-cpn .txt a {
                color: #000;
            }

                .detail-top .info-cpn .txt a:hover {
                    color: #1C4D87;
                }

    .detail-top .info-people {
        padding-top: 20px;
    }

        .detail-top .info-people h2 {
            margin-bottom: 8px;
        }

        .detail-top .info-people .txt {
            color: #000;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 12px;
        }

            .detail-top .info-people .txt span {
                color: #666;
                margin-right: 4px;
            }

.detail .article {
    position: relative;
    padding: 20px;
}

.detail .content {
    border-top: 1px solid #E5E5E5;
    height: 250px;
    overflow: hidden;
    transition: .3s;
    line-height: 24px;
    padding: 10px;
}

.detail .content.showall{
    height: auto;
}

.detail .article .short {
    height: 450px;
}

    .detail .content h2 {
        color: #1C4D87;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .detail .content h3 {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .detail .content p {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .detail .content img {
        width: 100%;
    }

    .detail .content.bg-hide {
        position: relative;
    }

        .detail .content.bg-hide::before {
            background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/.95),rgba(255 255 255/1));
            bottom: 10px;
            content: '';
            height: 110px;
            left: 0;
            position: absolute;
            width: 100%;
        }

.readmore {
    color: #1C67D8;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}

    .readmore::before {
        border-right: 1px solid #1C67D8;
        border-bottom: 1px solid #1C67D8;
        content: '';
        height: 8px;
        position: absolute;
        right: -2px;
        top: 3px;
        transform: rotate(45deg);
        width: 8px;
    }

.related {
    padding-bottom: 80px;
}

    .related h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
    }

    .related .btn-readmore {
        margin-top: 20px;
    }

    .related .block {
        margin-bottom: 40px;
    }

        .related .block:last-child {
            margin-bottom: 0;
        }


/**/
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    background: rgba(255,255,255,.75);
}

.btn-readmore {
    margin-bottom: 40px;
}


.content {
    margin-top: 10px;
    padding: 0 14px 10px;
}

    .content p.title {
        color: #666;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    .content h3 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 4px;
        text-transform: uppercase;
    }

.listcompany .img img {
    border-radius: 8px 8px 0 0;
}

.arrow-menu {
    position: relative;
    padding-right: 0;
}

    .arrow-menu::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #1c4d87;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 2px 6px;
        margin-bottom: 4px;
        transition: .3s;
    }

    .arrow-menu::before {
        content: none;
    }


.bg-article {
    background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/62.5),rgba(255 255 255/1));
    bottom: -22px;
    height: 105px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 3px;
}

.article .btn-seemore {
    color: #2f80ed;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 114px;
}