.filter-company .quicklink {
    margin-left: 7px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

    .filter-company .quicklink a {
        border: 1px solid #1C67D8;
        border-radius: 50px;
        color: #1C67D8;
        display: block;
        font-size: 12px;
        line-height: 22px;
        margin: 0 10px 8px 0;
        padding: 10px;
    }

        .filter-company .quicklink a.active {
            background-color: #1C67D8;
            color: #FFF;
        }

.filter-company .number-show {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 20px;
    margin-left: 7px;
}

.detail {
    margin: 0 auto;
    padding: 30px 7px;
}

.detail-top {
    padding-bottom: 25px;
}

    .detail-top .img, .detail-top .info {
        float: left;
        padding-top: 20px;
    }

    .detail-top .img {
        width: 100%;
        height: auto;
    }

        .detail-top .img img {
            display: block;
            max-width: 100%;
            width: 100%;
        }

    .detail-top .info {
        width: 100%;
    }

        .detail-top .info h2 {
            color: #000;
            font-size: 20px;
            font-weight: bold;
            line-height: 23px;
            padding-bottom: 8px;
        }

    .detail-top .text-company {
        color: #333;
        font-size: 20px;
        line-height: 26px;
        margin-top: 8px;
        display: inline;
    }
    .detail-top .icon-authen {
        margin: 0 0 7px 2px;
    }

    .detail-top .info-cpn {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
    }

        .detail-top .info-cpn .txt {
            color: #000;
            font-size: 14px;
            line-height: 16px;
            margin-top: 10px;
        }

            .detail-top .info-cpn .txt a {
                color: #000;
            }

    .detail-top .info-people {
        padding-top: 20px;
    }

        .detail-top .info-people h2 {
            margin-bottom: 8px;
        }

        .detail-top .info-people .txt {
            color: #000;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 12px;
        }

            .detail-top .info-people .txt span {
                color: #666;
                margin-right: 4px;
            }

.detail .content {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

.intro-ttl {
    color: #1C4D87;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 20px;
}

.detail .content h3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 16px;
}

.detail .content p {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.detail .content img {
    width: 100%;
}

.detail .content.bg-hide {
    position: relative;
}

    .detail .content.bg-hide::before {
        background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/.95),rgba(255 255 255/1));
        bottom: 10px;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100%;
    }

.readmore {
    color: #1C67D8;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    padding-right: 15px;
}

    .readmore::before {
        border-right: 1px solid #1C67D8;
        border-bottom: 1px solid #1C67D8;
        content: '';
        height: 8px;
        position: absolute;
        right: -2px;
        top: 3px;
        transform: rotate(45deg);
        width: 8px;
    }

.related {
    padding-bottom: 20px;
}

    .related h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 15px 5px;
    }

    .related .btn-readmore {
        margin-top: 20px;
    }

    .related .block {
        margin-bottom: 40px;
    }

        .related .block:last-child {
            margin-bottom: 0;
        }


/**/
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    background: rgba(255,255,255,.75);
}

.btn-readmore {
    margin-bottom: 40px;
}

.arrow-menu {
    position: relative;
    padding-right: 0;
}
    .arrow-menu::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #1c4d87;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 2px 6px;
        margin-bottom: 4px;
        transition: .3s;
    }

    .arrow-menu::before {
        content: none;
    }

.article {
    padding: 15px 0 0;
    position: relative;
}

.article .content {
    height: 250px;
    overflow: hidden;
    padding: 0 10px;
    transition: .3s;
    line-height: 24px;
}

.content.showall {
    height: auto;
}

.article .short {
    height: 450px;
}

.bg-article {
    background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/62.5),rgba(255 255 255/1));
    bottom: 15px;
    height: 89px;
    left: 0;
    position: absolute;
    width: 100%;
}

.article .btn-seemore {
    color: #2f80ed;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 114px;
    margin-bottom: 15px;
}

#loader{
    top: 20%;
}

section.loader{
    position: relative;
}

