<div class="show-forgotpass" id="forgotpass">
    <form class="show-forgotpass-wrap">
        @Html.AntiForgeryToken()
        <h3 class="form-title">Quên mật khẩu</h3>
        <p>Mời bạn nhập số điện thoại đã đăng ký để lấy lại mật khẩu</p>
        <div class="item">
            <input type="number" pattern="\d*" oninput="MaxLength(this)" maxlength="10" name="Phonenumber" class="Phonenumber">
            <div id="Phonenumber-error" class="error forgotpass-error" style="display: none"></div>
        </div>
        <div class="logindiv">
            <p>Hoặc</p>
            <a id="forgot-password-bytax">&nbsp;tải lên giấy phép kinh doanh&nbsp;</a>
            <p>để lấy lại mật khẩu</p>
        </div>
        <div class="boxcaptcha">
            <div class="g-recaptcha" data-sitekey="@(ketnoicungcau.business.Helpers.ConfigConstants.SiteKeyCaptcha)"></div>
        </div>
        <div class="box-button">
            <button class="btn-close">ĐÓNG</button>
            <button type="submit" class="btn-login">XÁC NHẬN</button>
        </div>
    </form>
</div>
