@model ketnoicungcau.business.Model.Company

<div class="show-forgotpass large" id="submit-forgotpass-bytax">
    <form class="show-forgotpass-wrap">
        @Html.AntiForgeryToken()
        <h3 class="form-title">Lấy lại mật khẩu</h3>
        <p>Mời bạn cung cấp các thông tin bên dưới để lấy lại mật khẩu mới</p>
        <div class="upload"> 
            <div class="file-upload form-field">
                <p class="file-upload-txt">Tải lên bản scan giấy phép kinh doanh</p>
                <button class="btn-upload">
                    <i class="icon-upload"></i>
                    <span class="text-browse">Chọn ảnh</span>
                </button>
                <div class="i-pic-upload">
                    <i class="icon-clearfile i-deselect del-license"></i>
                </div>
                <input type="file" name="Licenseimage" id="Licenseimage" class="form-control d-none" accept="image/x-png,image/gif,image/jpeg">
                <div id="license-error" class="error" style="display: none"></div>
            </div>
            <div class="file-upload form-field">
                <p class="file-upload-txt">Tải lên bản scan giấy xác nhận lấy lại tài khoản</p>
                <a style="display: block" href="/images/blog01.png" download>Tải về file mẫu giấy xác nhận<i class="icon-download" style="margin-left: 6px"></i></a>
                <button class="btn-upload">
                    <i class="icon-upload"></i>
                    <span class="text-browse">Chọn ảnh</span>
                </button>
                <div class="i-pic-upload">
                    <i class="icon-clearfile i-deselect del-confirm"></i>
                </div>
                <input type="file" name="Confirmimage" id="Confirmimage" class="form-control d-none" accept="image/x-png,image/gif,image/jpeg">
                <div id="confirm-error" class="error" style="display: none"></div>
            </div>
        </div>
        <div class="item">
            <div class="item-input">
                <input type="text" name="Companyname" class="Companyname" placeholder="Nhập tên doanh nghiệp">
            </div>
            <div class="item-input">
                <input type="text" pattern="\d*" name="Taxid" class="Taxid" placeholder="Nhập mã số thuế">
            </div>
            <div class="item-input">
                <input type="number" pattern="\d*" oninput="MaxLength(this)" maxlength="10" name="Phonenumber" class="Phonenumber" placeholder="Nhập số điện thoại mới">
            </div>
            <div class="item-input">
                <input type="text" name="Email" class="Email" placeholder="Nhập email mới">
            </div>
            <div  class="item-input-full"><input class="full Note" type="text" name="Note" placeholder="Ghi chú"></div>           
        </div>
        <div class="error-general" style="display: none"></div>
        <div class="box-button">
            <button class="btn-close">TRỞ VỀ</button>
            <button type="submit" class="btn-login">XÁC NHẬN</button>
        </div>
    </form>

    <div class="popup-successtax">
        <p class="txt-noti"><i class="icon-connectioned"></i></p>
        <p class="txt-noti">Hoàn tất gửi thông tin để lấy lại mật khẩu</p>
        <p class="txt">Bạn đã hoàn tất việc lấy lại mật khẩu thông qua tải lên giấy phép kinh doanh. Thông tin mật khẩu mới <b>sẽ được gửi về email</b> sau khi ban quản trị duyệt.</p>
        <h1 class="close-connection">Đóng</h1>
    </div>
</div>
