<div class="show-forgotpass" id="submit-forgotpass">
    <form class="show-forgotpass-wrap">
        @Html.AntiForgeryToken()
        <h3 class="form-title">Xác nhận mã OTP và mật khẩu mới</h3>
        <p>Mã OTP đã được gửi đến số điện thoại <b id="phone-response"></b></p>
        <p id="timer">Thời gian còn lại: 1:00<p>
        <a id="send-otp-again">Gửi lại mã mới</a>
        <div class="item margintop">
            <input type="number" name="Phonenumber" class="Phonenumber" style="display: none">
            <input type="number" pattern="\d*" oninput="MaxLength(this)" maxlength="4" name="OTP" class="OTP" placeholder="Nhập mã OTP">
            <input type="password" name="Password" class="Password" placeholder="Nhập mật khẩu mới" oninput="MaxLength(this)" maxlength="20">
            <input type="password" name="ConfirmPassword" class="ConfirmPassword" placeholder="Xác nhận mật khẩu mới" oninput="MaxLength(this)" maxlength="20"> 
            <div class="error-general" style="display: none"></div>
        </div>
        <div class="box-button">
            <button class="btn-close">TRỞ VỀ</button>
            <button type="submit" class="btn-login">XÁC NHẬN</button>
        </div>
    </form>
</div>
