<tr>
    <th style="text-align: center;">
        <span>ID</span>
    </th>
    <th>
        <span style="padding-left: 20px;">Tên doanh nghiệp</span>
    </th>
    <th>
        <span style="padding-left: 20px;">Sản phẩm/dịch vụ</span>
    </th>
    <th>
        <span style="padding-left: 20px;">Thời gian</span>
    </th>
    <th>
        <span>Trạng thái</span>
    </th>
    <th>
    </th>
</tr>