.thubmail-slide {
    margin-top: 40px;
}

.thubmail-slide img {
    object-fit: cover;
}

.thubmail-slide-product .owl-carousel .owl-dots {
    width: 530px;
}

.thubmail-slide-service .owl-carousel .owl-dots {
    width: 240px;
}

.thubmail-slide .item-img img {
    width: 100% !important;
}

.thubmail-slide .next,
.thubmail-slide .prev {
    bottom: 14px;
}

.thubmail-slide-product .prev {
    left: 135px;
}

.thubmail-slide-product .next {
    right: 140px;
}

.thubmail-slide-service .prev {
    left: 285px;
}

.thubmail-slide-service .next {
    right: 290px;
}

.thubmail-slide .owl-carousel .owl-dot {
    height: 50px !important;
    min-width: 50px;
    width: 50px !important;
}

.thubmail-slide .owl-dot img {
    height: 50px;
}

.thubmail-slide .counter {
    bottom: 70px;
}

.detail-main {
    padding: 45px 50px 80px;
}

.info-company {
    color: #666;
    font-size: 14px;
    line-height: 16px;
}

.info-name {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 12px;
    position: relative;
    padding-right: 68px;
}

.info-address {
    color: #666;
    line-height: 16px;
    margin-top: 12px;
}

.info-price {
    color: #D92525;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-top: 12px;
}

.info-note {
    color: #666;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
}

.info-hasimg .info-company {
    margin-top: 12px;
}

.info-hasimg .info-name {
    margin-top: 0;
}

.info-hasimg .img, .info-hasimg .content {
    float: left;
}

.info-hasimg .img {
    width: 160px;
}

    .info-hasimg .img img {
        width: 100%;
    }

.info-hasimg .content {
    padding-left: 32px;
    width: calc(100% - 160px);
}

.list-price {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

    .list-price li {
        border: 1px solid #E5E5E5;
        border-radius: 8px;
        margin-right: 10px;
        padding: 7px 5px;
        text-align: center;
        min-width: 100px;
    }

        .list-price li p {
            color: #000;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
        }

        .list-price li span {
            color: #666;
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
            margin-top: 2px;
        }

.listinfo {
    margin-top: 12px;
}

    .listinfo li {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

        .listinfo li .txtl {
            color: #666;
            width: 160px;
        }

        .listinfo li .txtr {
            color: #000;
        }

        .listinfo li .txtl i {
            margin-right: 10px;
        }

        .listinfo li .txtl, .listinfo li .txtr {
            display: inline-block;
            vertical-align: middle;
        }

.boxinfo {
    margin-top: 60px;
}

    .boxinfo .item {
        float: left;
        width: 50%;
    }

        .boxinfo .item h3 {
            color: #1C4D87;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
        }

    .boxinfo .content {
        margin-top: 20px;
    }

    .boxinfo .item p {
        color: #000;
        line-height: 16px;
        margin-bottom: 7px;
    }

        .boxinfo .item p.bold {
            font-weight: bold;
            display: inline;
        }
        .boxinfo .item #MST {
            margin-top: 10px;
        }
        .boxinfo .icon-authen {
            margin: 0 0 3px 2px;
        }

    .boxinfo .item a {
        color: #000;
    }

        .boxinfo .item a:hover {
            color: #1C67D8;
        }

.btn-connection {
    background-color: #F89118;
    border: 1px solid #F89118;
    border-radius: 50px;
    color: #FFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    max-width: 420px;
    margin: 35px auto 0;
    padding: 20px 10px;
    text-transform: uppercase;
    text-align: center;
    transition: .3s;
    width: 100%;
    cursor: pointer;
}

    .btn-connection.acpt {
        background-color: #4CAF50;
        border: 1px solid #4CAF50;
    }

    .btn-connection.sent {
        background-color: #0f5db9;
        border: 1px solid #0f5db9;
    }


    .btn-connection span {
        background: url(/images/icon_cnt.svg) no-repeat;
        background-position: left center;
        padding-left: 30px;
    }

    .btn-connection.connect:hover {
        background-color: #FFF;
        color: #F89118;
    }

        .btn-connection.connect:hover span {
            background: url(/images/icon_cnt_hover.svg) no-repeat;
            background-position: left center;
        }

.btn-wish {
    position: absolute;
    background-color: #FFF;
    color: #F89118;
    border: 1px solid #f89118;
    border-radius: 50px;   
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    width: auto;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    transition: .3s;
    right: 0;
    top: 0;
    cursor: pointer;
}

    .btn-wish span {
        background: url(/images/icon_heartbefore.svg) no-repeat;
        background-position: left center;
        padding-left: 22px;
    }

    .btn-wish.love span {
        background: url(/images/icon_heartafter.svg) no-repeat;
        background-position: left center;
    }

.bgconnection-overlay {
    background: rgba(0,0,0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.popup-connection {
    background-color: #FFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: none;
    left: 50%;
    position: fixed;
    padding: 40px 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 450px;
    z-index: 10;
}

    .popup-connection .txt-noti {
        color: #1C8E0F;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
    }

        .popup-connection .txt-noti i {
            margin-right: 10px;
        }

    .popup-connection .txt {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        margin: 20px auto 0;
        max-width: 280px;
    }

.close-connection {
    background-color: #1C67D8;
    border: 1px solid #AAA;
    border-radius: 8px;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 40px auto 0;
    padding: 11px 5px;
    width: 275px;
}

.detail-content {
    margin-top: 45px;
    text-align: left;
}

    .detail-content div {
        text-align: left;
    }

    .detail-content h1 {
        color: #1C4D87;
        font-size: 21px;
        font-weight: bold;
        line-height: 27px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content h2 {
        color: #1C4D87;
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content h3 {
        color: #1C4D87;
        font-size: 19px;
        font-weight: bold;
        line-height: 23px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content h4 {
        color: #1C4D87;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content h5 {
        color: #1C4D87;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content h6 {
        color: #1C4D87;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        margin: 20px 0 5px;
        text-align: left;
        display: block;
    }

    .detail-content ul {
        margin-bottom: 20px;
        text-align: left;
    }

        .detail-content ul li {
            color: #000;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            padding-left: 25px;
        }

            .detail-content ul li::before {
                background-color: #000;
                border-radius: 50%;
                content: '';
                height: 5px;
                left: 8px;
                position: absolute;
                top: 10px;
                width: 5px;
            }

    .detail-content p {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: left;
        display: block;
    }

    .detail-content img {
        max-width: 480px;
        height: auto;
        margin: 20px auto;
        display: block;
    }

    .detail-content.bg-hide {
        position: relative;
        max-height: 500px;
        overflow: hidden;
    }

        .detail-content.bg-hide::before {
            background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/.95),rgba(255 255 255/1));
            bottom: -20px;
            content: '';
            height: 110px;
            left: 0;
            position: absolute;
            width: 100%;
        }

.readmore {
    color: #1C67D8;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}

    .readmore::before {
        border-right: 1px solid #1C67D8;
        border-bottom: 1px solid #1C67D8;
        content: '';
        height: 8px;
        position: absolute;
        right: -2px;
        top: 3px;
        transform: rotate(45deg);
        width: 8px;
    }
