h2 {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
.faq-main {
    padding: 40px 0 60px;
}
.faq-content {
    border-bottom: 10px solid #E5E5E5;
    padding: 20px 0 35px;
}
.faqlist.height-scroll {
    overflow-y: scroll;
}
.faqlist::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #DEDEDE;
}
.faqlist::-webkit-scrollbar{
	width: 8px;
}
.faqlist::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #AAA;
}
.faqlist li {
    margin-bottom: 5px;
}
.faqlist .question {
    background-color: #F0F1F0;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 50px 5px 40px;
    position: relative;
}
.faqlist .question::before,
.faqlist .question::after {
    background-color: #666;
    border-radius: 10px;
    content: '';
    height: 2px;
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    transition: .3s;
    width: 11px;
}
.faqlist .question::after {
    transform: rotate(90deg);
}
.faqlist .question.active {
    background-color: #FFF;
}
.faqlist .question.active::after {
    transform: rotate(180deg);
}
.faqlist .question i {
    left: 10px;
    position: absolute;
    /* top: calc(50% - 10px); */
    top: 6px;
}
.faqlist .answer {
    color: #333;
    display: none;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 10px 10px;
    word-wrap: break-word;
}

.faq-form {
    padding: 25px 10px 0;
}
.faq-form h2 {
    font-size: 14px;
    line-height: 16px;
}
.faq-form form {
    margin-top: 12px;
}
.faq-form form input,
.faq-form form textarea {
    background-color: #F7F7F7;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    font-size: 14px;
    line-height: 21px;
    padding: 13px;
    width: 100%;
}
.faq-form form input {
    color: #333;
    height: 46px;
}
.faq-form form textarea {
    color: #666;
    height: 110px;
    width: 100%;
}
.faq-form form input::placeholder,
.faq-form form textarea::placeholder {
    color: #444;
    font-size: 14px;
    line-height: 21px;
}
.faq-form .item {
    margin-bottom: 8px;
}
.send-faq {
    background-color: #1C67D8;
    border: 1px solid #AAA;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    max-width: 340px;
    margin: 20px auto 0;
    padding: 14px 5px;
    text-align: center;
    width: 100%;
}

.bgsend-overlay {
    background: rgba(0,0,0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.popup-send {
    background-color: #FFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: none;
    left: 50%;
    position: fixed;
    padding: 20px 17px 40px;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 350px;
    z-index: 1;
}
.popup-send .noti {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}
.popup-send .txt {
    color: #000;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
}
.close-send {
    background: #1C67D8;
    border: 1px solid #AAA;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 40px auto 0;
    padding: 11px 5px;
    width: 160px;
}