@model string
<div class="search-empty">
    <div class="noti">
        <i class="icon-searchnull"></i>
        <p>Rất tiếc, <span>Ketnoicungcau</span> không tìm thấy kết quả nào phù hợp với từ khóa "<span>@Model</span>"</p>
    </div>
    <div class="content">
        <p>Để tìm được kết quả chính xác hơn, bạn vui lòng:</p>
        <p class="circle">Kiểm tra lỗi chính tả của từ khóa đã nhập</p>
        <p class="circle">Thử lại bằng từ khóa khác</p>
        <p class="circle">Thử lại bằng những từ khóa tổng quát hơn</p>
        <p class="circle">Thử lại bằng những từ khóa ngắn gọn hơn</p>
    </div>
</div>