<footer>
    <div class="footer-main">
        <section class="clearfix">
            <a href="/" class="footer-logo">
                <i class="icon-logo"></i>
            </a>
            <div class="footer-contact">
                <p>SỞ CÔNG THƯƠNG TP. HỒ CHÍ MINH</p>
                <p class="item">Điện thoại: <a href="tel:(+8428)38296322">(+8428) 3829 6322</a></p>
                <p class="item">Fax: <a href="tel:(+8428)38221778">(+8428) 3822 1778</a></p>
                <p class="item">Email: <a href="mailto:sct@tphcm.gov.vn">sct@tphcm.gov.vn </a></p>
            </div>
@*            <ul class="footer-menu">
                <li><a href="/gioi-thieu">Giới thiệu</a></li>
                <li><a href="/huong-dan-dang-ky">Hướng dẫn đăng ký</a></li>
                <li><a href="/chinh-sach">Chính sách</a></li>
                <li><a href="/quy-dinh">Quy định</a></li>
            </ul>*@
            <div class="footer-network">
                <p>Kết nối</p>
                <div>
                    <a href="/" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="/" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="/" target="_blank"><i class="icon-twitter"></i></a>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-bottom">
        <p class="copyright">© 2017 - BẢN QUYỀN SỞ CÔNG THƯƠNG THÀNH PHỐ HỒ CHÍ MINH</p>
        <p class="address">Địa chỉ: 163 Hai Bà Trưng, Quận 3, Thành phố Hồ Chí Minh.</p>
    </div>
</footer>